* {
    margin: 0;
    padding: 0;
    font-size: 20px;
}

body {
    background: #000;
    font-family: times, serif;
}

a {
    color: #1D2CF3;
    text-decoration: none;
}

main {
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    overflow: hidden;
}

nav {
    display: flex;
    margin: 0 auto;
    max-width: 500px;
    justify-content: space-between;
}

footer {
    margin: 30px;
    text-align: center;
}